{%extends "base.html" %}
{%block start %}
<body>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #1A1A1A;
            color: #e3e2dd;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('https://img.freepik.com/free-photo/top-view-food-frame-with-copy-space_23-2148723447.jpg?size=626&ext=jpg&ga=GA1.1.877129602.1726759106&semt=ais_hybrid') no-repeat center center;
            background-size: cover;
            opacity: 0.2;
        }
        
    </style>
    <div class="background"></div>
    <div class="container mt-5">
        <!-- Add Recipe Form -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Add Recipe</h2>
            <hr>
            <div class="mb-3">
                <label for="recipe_name" class="form-label">Recipe Name</label>
                <input name="recipe_name" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="recipe_dis" class="form-label">Recipe Description</label>
                <textarea name="recipe_dis" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="recipe_image" class="form-label">Recipe Image</label>
                <input name="recipe_image" type="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add Recipe</button>
        </form>

       
        <!-- Recipe Table -->
            
            </body>
{%endblock%}