<html></html>
 <head>
  <title>
   Recipes
  </title>
  <style>
   .body {
            font-family: Arial, sans-serif;
            background-color: #785000;
            color: #fff;
            margin: 0;
            padding: 0;
        }
        .container {    
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }
        .image-card {
            background-color: #9d7a7a;
            border-radius: 8px;
            margin: 10px;
            overflow: hidden;
            width: 300px;
            text-align: center;
        }
        .image-card img {
            width: 100%;
            height: auto;
        }
        .image-card p {
            margin: 10px 0;
            font-size: 14px;
        }
  </style>
 </head>
 <body>
  <div class="container">
   <div class="image-card">
    <img alt="Burnt chicken on a plate with lemon slices" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-i7NhAIFrqGoL4gNfPYYIXBxo.png?st=2024-09-21T08%3A21%3A06Z&amp;se=2024-09-21T10%3A21%3A06Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A11%3A04Z&amp;ske=2024-09-21T23%3A11%3A04Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Bx8TXnzbwYc6i6lJTBFQLJaGTgdnvThQK3qc9XRIM7o%3D" width="300"/>
    <p>
     iStock
     <br/>
     2,900+ Burnt Chicken Stock Photos
    </p>
   </div>
   <div class="image-card">
    <img alt="Roasted chicken with herbs and lemon on a wooden table" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-lgsH5Rzo51ilvJmFLmDmUS20.png?st=2024-09-21T08%3A21%3A07Z&amp;se=2024-09-21T10%3A21%3A07Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A03%3A49Z&amp;ske=2024-09-21T23%3A03%3A49Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=cLX9Iw6YNkirD6x7QZo%2BCuM1PZEWFTOvA9xEEMKg5co%3D" width="300"/>
    <p>
     Shutterstock
     <br/>
     Food Photography Photos, Images...
    </p>
   </div>
   <div class="image-card">
    <img alt="Salads and dishes on a light blue background" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-OuvnLRj1VdVyg51mjNz5zD7o.png?st=2024-09-21T08%3A21%3A10Z&amp;se=2024-09-21T10%3A21%3A10Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A08%3A05Z&amp;ske=2024-09-21T23%3A08%3A05Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=40Wl9lo0ktlI7tAXSCZcHSYrtXR9Kgln9aD5bGhW8GI%3D" width="300"/>
    <p>
     Pexels
     <br/>
     100,000+ Best Food Photos - 10...
    </p>
   </div>
   <div class="image-card">
    <img alt="Collage of various food dishes" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-ORQbugMKkhefP7VpnPYCc0nV.png?st=2024-09-21T08%3A21%3A08Z&amp;se=2024-09-21T10%3A21%3A08Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A20%3A41Z&amp;ske=2024-09-21T23%3A20%3A41Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=4lOO2n7tal5EKxt%2BC3QzDomXzJdTHXgOIWbiI0Q%2BhNQ%3D" width="300"/>
    <p>
     YouTube
     <br/>
     100+ Best Food Images | Yummy...
    </p>
   </div>
   <div class="image-card">
    <img alt="Roasted chicken with lemon slices and herbs on a dark background" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-uQlhFWQxKIIcAJlL5BiEMe8f.png?st=2024-09-21T08%3A21%3A12Z&amp;se=2024-09-21T10%3A21%3A12Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A42%3A12Z&amp;ske=2024-09-21T23%3A42%3A12Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Mozw35j96rnjP9GbPyg9EiDo9wijW3/EkAWGmK6GjEA%3D" width="300"/>
    <p>
     Freepik
     <br/>
     Food photography on white back...
    </p>
   </div>
   <div class="image-card">
    <img alt="Heart-shaped arrangement of fruits and vegetables" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-bfXTU12DHQ4PE0UL2sY9G9Vs.png?st=2024-09-21T08%3A21%3A07Z&amp;se=2024-09-21T10%3A21%3A07Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A24%3A48Z&amp;ske=2024-09-21T23%3A24%3A48Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=DtmeuRlrgEEyX5eJxv3drF5pcVS%2BkLn1ryCD987HM84%3D" width="300"/>
    <p>
     Dreamstime
     <br/>
     22,705,428 Food Stock Photos - ...
    </p>
   </div>
   <div class="image-card">
    <img alt="Baked chicken drumsticks in a white dish with tomatoes and herbs" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-7n6z0NsZHLGzbiOrmNN1oaUR.png?st=2024-09-21T08%3A21%3A09Z&amp;se=2024-09-21T10%3A21%3A09Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-20T23%3A28%3A23Z&amp;ske=2024-09-21T23%3A28%3A23Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=jxZ%2Bc5lzXWQaZW2%2BH63mXmIuXvMbQPxi8tJsoQZ6kjY%3D" width="300"/>
    <p>
     YouTube
     <br/>
     100+ Best Food Images | Yummy...
    </p>
   </div>
   <div class="image-card">
    <img alt="Grilled chicken with herbs on a plate" height="200" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-HJ9jx84Pz8LAaH0UXkhhtQ1K.png?st=2024-09-21T08%3A21%3A10Z&amp;se=2024-09-21T10%3A21%3A10Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-21T00%3A16%3A27Z&amp;ske=2024-09-22T00%3A16%3A27Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W%2BLSEl5pRB8goZrbWYnbYTqQ3/f3xuylcYqjbp0KN7Y%3D" width="300"/>
    <p>
     Freepik
     <br/>
     Food photography on white back...
    </p>
   </div>
  </div>
 </body>
</html>