{% extends "base.html" %}
{% block start %}




<!-- Recipe Cards (Using a card-like layout) -->
<div class="recipes mt-5">
    {% for recipe in recipes %}
    <div class="recipe-card">
        <div class="recipe-date">{{ recipe.recipe_date }}</div>
        <div class="recipe-content">
            <img src="/media/{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}" class="recipe-image">
            <div class="recipe-text">
                <h2 class="recipe-title">{{ recipe.recipe_name }}</h2>
                <p class="recipe-description">{{ recipe.recipe_dis }}</p>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
    }

    body {
        background-color: #a87e00;
        padding: 20px;
    }

    .recipe-card {
        background-color: rgb(0, 0, 0);
        padding: 7px;
        margin-bottom: 40px;
        box-shadow: 4 4px 6px rgba(1, 1, 1, 2);
    }

    .recipe-date {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .recipe-content {
        display: flex;
        color: #f7f7f7;
        align-items: flex-start;
    }

    .recipe-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 8px;
    }

    .recipe-text {
        flex-grow: 1;
    }

    .recipe-title {
        font-size: 24px;
        font-weight: bold;
        color: #fbfbfb;
        margin-bottom: 10px;
    }

    .recipe-description {
        font-size: 16px;
        color: #ffeaea;
        margin-bottom: 15px;
    }


</style>

{% endblock %}
